.vagrant
node_modules/
bower_components
credentials.json

libpeerconnection.log
npm-debug.log

db

app/www
app/src/lib
app/test/lib
app/bin
.DS_Store
pomodoro.cc.sublime-workspace
selenium-debug.log
selenium.jar
reports
*.sublime-workspace
backup
opt/docker.env
api/rel
.env
.env.development
